<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!-- <th:block th:include="include :: header('修改送审日志')"    /> --><link rel="stylesheet" href="../../admin/css/load.css"/>
    <link rel="stylesheet" href="../../admin/css/admin.css"/>
    <link rel="stylesheet" href="../../component/pear/css/pear.css">
    <link rel="stylesheet" href="../../component/zTree_v3/css/zTreeStyle/zTreeStyle.css">
    <script src="../../component/layui/layui.js"></script>
    <script src="../../component/pear/pear.js"></script>
    <script src="../../component/jquery.min.js"></script>
    <script src="../../component/zTree_v3/js/jquery.ztree.core.js"></script>
    <script src="../common.js"></script>
    <script src="../request.js"></script>
</head>
<body>
<form class="layui-form" th:object="${orderReviewLog}">
    <div class="mainBox">
        <div class="main-container">
            <input name="id" th:field="*{id}" type="hidden">
    <div class="layui-form-item">
        <label class="layui-form-label">送审类型 0 保存 1 送审 2 审核通过 3 审核不通过：</label>
        <div class="layui-input-block">
            <select name="type"  dict-code="input" th:attr="default-value=*{type}" >
                <option value="">所有</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工单id：</label>
        <div class="layui-input-block">
            <input type="text" name="orderId" th:field="*{orderId}" placeholder="请输入工单id" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建人：</label>
        <div class="layui-input-block">
            <input type="text" name="creatorId" th:field="*{creatorId}" placeholder="请输入创建人" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审核意见：</label>
        <div class="layui-input-block">
            <input type="text" name="info" th:field="*{info}" placeholder="请输入审核意见" class="layui-input" />
        </div>
    </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="orderReviewLog-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
</body>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    layui.use(['form', 'jquery','laydate' ], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let laydate = layui.laydate;

        let prefix = "/data-order-server/system/orderReviewLog/";


        form.on('submit(orderReviewLog-update)', function (data) {
            for(var key in data.field){
                var type=$(data.form).find("input[name='"+key+"']").attr("type");
                if(type=="checkbox"){
                    var value="";
                    $(data.form).find("input[name='"+key+"']:checked").each(function(){
                        value+=$(this).val()+",";
                    })
                    if(value!=""){
                        value=value.substr(0,value.length-1);
                        data.field[key]=value;
                    }

                }
            }
            $.ajax({
                url: prefix+'update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload("orderReviewLog-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    });
</script>
</html>